/*

# GH, git
!.gitignore
!.github/

# Meta
!LICENSE
!TODO.md

# Collaborators consistency
!.luarc.json
!.editorconfig
!stylua.toml
!.pre-commit-config.yaml
!git-conventional-commits.yaml

# Nix
!nix/
!default.nix
!flake.nix
!flake.lock

# Plugin
!lua/
!doc/
!docs/
!ftplugin/
!*.rockspec

# Testing
!testfiles/

# Plugin test & lint
!.busted
!.luacheckrc
