/*

#GH, git
!.gitignore
!.github/

# Meta
!LICENSE
!TODO.md

# Nix
!nix/
!default.nix
!flake.nix
!flake.lock

# Plugin
!lua/
!doc/
!docs/
!ftplugin/
!*.rockspec

# Plugin test & lint
!spec/
!.busted
!.luacheckrc
